<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>

</head>
<body>

    <%- include('common/header') %>
    <h1>Profile page</h1>
    <h2>Welcome <%=user.name %></h2>
    <h3><%=user.age %></h3>




    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li> <%= item %></li>
        <% }) %>
    </ul>

    <a href="/">Go to Home Page</a>
</body>
</html>